{% extends "base.html" %}

{% load static %}
{% block title %} Product Detail {% endblock %}

{% block css %}
    <link href="{% static 'restaurant/css/menu_items.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block navbar %}
    {% include 'customers/navbar.html' %}
{% endblock %}
{% block body %}
    <div class="container my-5">
        <h2>Place Order</h2>
    </div>
    <div class="container pt-3 border">
        <div class="row border p-2">
            <div class="col-4 fw-bold">Item</div>
            <div class="col-2 fw-bold">Price</div>
            <div class="col-2 fw-bold">Quantity</div>
            <div class="col-2 fw-bold">Total</div>
            {% for res_id, res_order in restaurant_orders.items %}
{#                {{  res_order.order_amount }}#}
{#                {% for items, charge, order_amount in res_order %}#}
{#                    ?????#}
                    <div class="col-12 card mt-2">
                        <div class="row p-2">
                            <h6>Order</h6>
                            {% for item in res_order.items %}
                                <div class="col-4">{{ item.item.name }}</div>
                                <div class="col-2">{{ item.item.calculate_discount }}</div>
                                <div class="col-2">{{ item.quantity }}</div>
                                <div class="col-2">{{ item.total }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row p-2 fw-bold">
                        <div class="col-8">Delivery Charges</div>
                        <div class="col-4">{{ res_order.charge }}</div>

                        <div class="col-8">Order Amount</div>
                        <div class="col-4">{{ res_order.sub_total }}</div>

                    </div>
{#                {% endfor %}#}
            {% endfor %}
            <div class="col-12 card mt-2 border-0">
                <div class="row p-2 fw-bold">
                    <div class="col-8">Total</div>
                    <div class="col-4">{{ amount }}</div>
                </div>

            </div>
        </div>
        <div class="row p-2">
            <h4 class="mt-3">User Address</h4>
            <div class="col-12 card mt-2">
                {% with request.user.addresses.all|first as address %}{{ first_doc.id }}
                    {{ address.address_line1 }}
                    <br>
                    {{ address.address_line2 }}
                    <br>
                    {{ address.city.name }}-{{ address.pincode }}
                    <br>
                    {{ address.state.name }}
                {% endwith %}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-6 d-grid">
                <button class="btn btn-block btn-primary" id="cod-button">COD</button>
            </div>
            <div class="col-6 d-grid">
                <button class="btn btn-block btn-success" id="checkout-button">Pay now</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>

        $(document).ready(function () {

                document.getElementById("cod-button").onclick = function (e) {
                    window.location.href = "/order/cod_payment/";
                }


                document.getElementById("checkout-button").onclick = function (e) {
                    let csrftoken = getCookie('csrftoken');
                    $.ajax({

                        headers: {'X-CSRFToken': csrftoken, 'Content-Type': 'application/json'},
                        type: 'GET',
                        url: "{% url 'order-payment-method' %}",
                        data: {},
                        success: function (response) {
                            {#console.log(response.context)#}
                            var options = {
                                'key': response.context['razorpay_key'],
                                'amount': response.context['razorpay_amount'],
                                'currency': response.context['currency'],
                                'description': "My Description",
                                'name': "Dj Razorpay",
                                'notes': {
                                    "user_id": "{{ user.id }}"
                                },

                                'order_id': response.context['razorpay_order_id'],
                                'callback_url': response.context['callback_url'],

                            };
                            {#console.log(options)#}
                            var rzp1 = new Razorpay(options);
                            rzp1.open();

                        },
                        error: function (response) {
                            alert(response["responseJSON"]["error"]);
                        }
                    })
                }
            }
        )

    </script>
{% endblock %}