{% extends 'base.html' %}

{% block css %}
{% load static %}
<link href="{% static 'accounts/css/common.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}

<div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 column text-center heading">
                <h2>RESET PASSWORD</h2>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4 offset-md-2 column">
            <form enctype="multipart/form-data" method="post">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                {{ form|crispy }}
                <button class="submit-btn btn btn-outline-success" type="submit">Submit</button>
            </form>

        </div>
        <div class="col-md-4 column">


            <div class="auth-feature-wrapper">
                <div>
                    <a class="auth-feature btn" href="{% url 'profile' %}">
                        Profile
                    </a>
                </div>
                <div>
                    <a class="auth-feature btn" href="{% url 'logout' %}">
                        Logout
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}'
