{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% load static %}
    <link href="{% static 'accounts/css/common.css' %}" rel="stylesheet" type="text/css">
    <style>
        .profile-image {
            max-height: available;
            max-width: 80%;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 column text-center heading">
                <h2>Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2 column px-4">
                <form enctype="multipart/form-data" method="post">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="submit-btn btn btn-outline-success" type="submit">Submit</button>
                </form>
                {% if user.groups.first.name == 'customer' %}
                    <div class="auth-feature-wrapper">
                        <div>
                            <a class="auth-feature btn" href="{% url 'edit-address' %}">
                                Edit Address
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 column text-center">

                {% if not user_profile_image %}
                    <img src="{% static 'accounts/images/default_profile_image.jpg' %}" alt="sasas">
                {% else %}
                    <img src="{{ user_profile_image }}" alt="" class="profile-image">
                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}'
