{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <style>
        #map {
            width: 100%;
            height: 300px;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">

    <link href="{% static 'accounts/css/common.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'restaurant/css/restaurant_registration.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    Register Restaurant{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 column text-center heading">
                <h2>RESTAURANT REGISTRATION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 column form-column">
                <form enctype="multipart/form-data" method="post">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    <div class="form-box">
                        <fieldset>
                            <legend>User Details</legend>
                            {{ user|crispy }}
                        </fieldset>
                    </div>
                    <div class="form-box">
                        <fieldset>
                            <legend>Restaurant Details</legend>
                            {{ restaurant|crispy }}
                            {{ address|crispy }}
                        </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            SELECT YOU LOCATION ON MAP
                        </div>
                        <div class="col-md-12" style="min-height: 300px">
                            <div id="map" style="min-height: 300px"></div>
                        </div>
                        <p class="invalid-feedback text-danger">
                        <div class="" style="display: none">
                            {{ address.lat.errors }}
                        </div>
                        {% for map_error in address.lat.errors %}
                            <strong class="text-danger">{{ map_error }}</strong>
                        {% endfor %}
                        </p>
                    </div>
                    <div class="form-box">
                        <fieldset>
                            <legend>Restaurant Owner Documents</legend>
                            {{ documents|crispy }}
                        </fieldset>
                    </div>
                    <button class="submit-btn btn btn-outline-success my-4" type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        let icon_url = "{% static 'customers/marker.png' %}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
    <script src="{% static 'restaurant/js/map.js' %}"></script>
{% endblock %}