{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'restaurant/css/reviews.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block title %}
Reviews{% endblock %}
{% block navbar %}
{% include 'restaurant/restaurant_navbar.html' %}
{% endblock %}

{% block body %}



    {% if not reviews %}
        {% include 'delivery_agent/not_found.html' %}
    {% else %}
        <div class="testimonial-box-container">
        {% for review in reviews %}
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        {% if review.order.user.profile_pic %}
                        <img alt="" class="avatar avatar-sm rounded-circle me-2"
                             src="{{review.order.user.profile_pic.url}}">
                        {% else %}
                        <img alt="" class="avatar avatar-sm rounded-circle me-2"
                             src="/media/restaurant_images/snack2_Lpbnu3f.jpeg">
                        {% endif %}
                    </div>
                    <div class="name-user">
                        <strong>{{review.order.user.username}}<br>
                        </strong>
                        <span>{{review.order.user}}</span>
                    </div>
                </div>

                <div class="reviews">
                    <p>{{review.ratings.3}}</p>
                    {% for i in review.ratings.0 %}
                    <i class="star fa fa-star" data-value="{{review.ratings}}"></i>
                    {% endfor %}
                    {% for i in review.ratings.1 %}
                    <i class="star fa fa-star-half-o" data-value="{{review.ratings}}"></i>
                    {% endfor %}
                    {% for i in review.ratings.2 %}
                    <i class="star fa fa-star-o"></i>
                    {% endfor %}
                </div>
            </div>
            <div class="client-comment">
                <p class="text-break">{{review.reviews}}</p>
            </div>

        <div class="client-comment">
                <p class="text-break">{{review.order}}</p>
            </div>

        </div>

        {% endfor %}
        </div>
        <div class="container align-justify">
        {% include 'pagination.html' %}
        </div>
    {% endif %}


{% endblock %}

{% block js %}
    <script src="{% static 'admins/js/pagination.js' %}"></script>
{% endblock %}