{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link href="{% static 'restaurant/css/order_details.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'delivery_agent/css/main.css' %}" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link href="{% static 'delivery_agent/css/progress_bar.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block title %}
    Order Details{% endblock %}
{% block navbar %}
    {% include 'delivery_agent/navbar.html' %}
{% endblock %}
{% block body %}

    <br>

    <div class="container-fluid row">
        <div class="col-lg-12 " id="paymentStatus2">
            <div class="alert alert-danger alert-dismissible fade show" style="display: none">
                <strong>Failed ! </strong>Order is Not Delivered yet!
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
        {% if order.status == 'delivered' and  order.paid %}
            <div class="col-lg-12 box-element" id="paymentStatus">
                <div class="alert alert-success alert-dismissible fade show" style="display: block">
                    This Delivery is Completed Successfully!
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        {% endif %}
        <div class="col-lg-12 box-element bg-secondary card">
            <div class="card col-lg-12 m-2 p-2 m">
                <div class=" fa-border">
                    <div style="flex: 1;" id="order_id">Order : {{ order.id }}</div>
                    <div style="flex: 1;">Order date : {{ order.order_date }}</div>
                    <div style="flex: 1;">Total amount : {{ order.total }}</div>
                    delivery_charge
                    <div style="flex: 1;">delivery_charge : {{ delivery_charge }}</div>
                    <div style="flex: 1;">Restaurant Name: {{ order.restaurant.name }}</div>
                    <div style="flex: 1;">Pickup Address: {{ order.restaurant_address }}</div>
                    <div style="flex: 1;"><strong>Restaurant
                        Contact: {{ order.restaurant.owner.mobile_number }}</strong>
                    </div>
                    <div style="flex: 1;">Delivered to : {{ order.user.username }}</div>
                    <div style="flex: 1;">Delivery Address : {{ order.user_address }}</div>
                    <div style="flex: 1;"><strong>Delivery User Contact : {{ order.user.mobile_number }}</strong></div>
                    {% if order.mode == "Online" %}
                        <div style="flex: 1;">Status : {{ order.status }}</div>

                    {% elif order.mode == "COD" and not order.paid %}
                        <br>
                        <div style="flex: 1;">Order Payment :
                            <button class="btn btn-outline-success received" data-order="{{ order.id }}">Received<span
                                    class="fa fa-check"></span>
                            </button>
                        </div>
                    {% else %}
                        <div style="flex: 1;">Order Payment : Received</div>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
    {% if update_order_status %}

        {% include 'delivery_agent/progress_bar.html' %}
        <script>
            let delivery_status_no = {{ current_status }};
            let order_id = {{ order.id }}
        </script>
        <script src="{% static 'delivery_agent/js/order_tracking_progress_bar.js' %}"></script>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{% static 'delivery_agent/js/detail_order.js' %}"></script>
    <script src="{% static 'delivery_agent/js/acccept_payment.js' %}"></script>
{% endblock %}
