{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Admin Panel - Driver
{% endblock %}

{% block css %}
    <link href="{% static 'delivery_agent/css/not_found.css' %}" rel="stylesheet" type="text/css">

    <style>
        #users-table tr th {
            font-size: 20px;
        }

        #users-table tr td {
            font-size: 18px;
        }

    </style>

{% endblock %}


{% block navbar %}
    {% include 'admins/navbar.html' %}
{% endblock %}

{% block body %}

    <div class="container-fluid my-5">

        <div class="row my-5">
            <div class="col-md-8  offset-md-1">
                {% if users %}
                    <h2 class="text-center">
                        Users
                    </h2>
                {% endif %}
            </div>
            <div class="col-md-3">
                <form class="d-flex" method="GET">
                    <input aria-label="Search" class="form-control me-2" name="search_user"
                           placeholder="Search by id, name, or email" type="search" id="search-input">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 offset-md-1">
                <div class="main-content">
                    {% if users %}
                        <table id="users-table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user_obj in users %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ user_obj.username }}</td>
                                    <td>{{ user_obj.email }}</td>
                                    <td>
                                        <a href="{% url 'users-detail' user_obj.id %}" class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if page_obj|length > 0 %}
                            <div class="my-4">
                                {% if page_obj.has_previous %}
                                    <a class="btn btn-primary btn-sm page_number_link"
                                       href="{{ page_obj.previous_page_number }}">
                                        Previous Page
                                    </a>
                                {% else %}
                                    <button class="btn btn-primary btn-sm disabled">
                                        Previous Page
                                    </button>
                                {% endif %}

                                {% for page_number in page_obj.adjusted_elided_pages %}
                                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                                        {{ page_number }}
                                    {% else %}
                                        <a class="page_number_link"
                                           href="{{ page_number }}">

                                            {% if page_number == page_obj.number %}
                                                <span class="btn btn-info btn-sm">{{ page_number }}</span>
                                            {% else %}
                                                <span class="btn btn-secondary btn-sm">{{ page_number }}</span>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <a class="btn btn-primary btn-sm page_number_link"
                                       href="{{ page_obj.next_page_number }}">
                                        Next Page
                                    </a>
                                {% else %}
                                    <button class="btn btn-primary btn-sm disabled">
                                        Next Page
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}


                    {% else %}
                        {% include 'admins/no-data-found.html' %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-1 offset-md-1">
                <form class="d-flex" id="filter_form" method="GET">
                    <input aria-label="Search" class="form-control me-2" hidden id="filter_input_search_user" name="search_user">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Filter</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div aria-label="Basic checkbox toggle button group" class="btn-group-vertical"
                                     id="user_status"
                                     role="group">
                                    <input autocomplete="off" class="btn-check" id="user_status_active"
                                           name="user_status[]"
                                           type="checkbox" value="active">
                                    <label class="btn btn-outline-primary" for="user_status_active">Active
                                        Users</label>

                                    <input autocomplete="off" class="btn-check" id="user_status_inactive"
                                           name="user_status[]"
                                           type="checkbox" value="inactive">
                                    <label class="btn btn-outline-primary" for="user_status_inactive">Inactive
                                        Users</label>

                                    <input autocomplete="off" class="btn-check" id="user_status_blocked"
                                           name="user_status[]"
                                           type="checkbox" value="blocked">
                                    <label class="btn btn-outline-primary" for="user_status_blocked">Blocked
                                        Users</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <button class="btn btn-outline-success" id="submit_filter" type="submit">Apply Filter
                                </button>
                                <p class='text-danger' id="filter_error" style="display: none">Select at least one
                                    option to
                                    filter!</p>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </form>
            </div>
        </div>
    </div>


{% endblock %}



{% block js %}
<script>
    function getParams (url = window.location) {
        let params = {};

        new URL(url).searchParams.forEach(function (val, key) {
            if (params[key] !== undefined) {
                if (!Array.isArray(params[key])) {
                    params[key] = [params[key]];
                }
                params[key].push(val);
            } else {
                params[key] = val;
            }
        });

        return params;

    }
    $(function () {
        let getParameter = getParams();

        $('#filter_input_search_user').val(getParameter['search_user']);
        $('#search-input').val(getParameter['search_user']);

        let user_status_params = getParameter['user_status[]'];
        if (user_status_params) {
            if (typeof (user_status_params) !== "string") {
                for (let i = 0; i < user_status_params.length; i++) {
                    if (user_status_params[i] === 'active') {
                        $('#user_status_active').attr('checked', true);
                    } else if (user_status_params[i] === 'inactive') {
                        $('#user_status_inactive').attr('checked', true);
                    } else if (user_status_params[i] === 'blocked') {
                        $('#user_status_blocked').attr('checked', true);
                    }
                }
            } else {
                if (user_status_params === 'active') {
                    $('#user_status_active').attr('checked', true);
                } else if (user_status_params === 'inactive') {
                    $('#user_status_inactive').attr('checked', true);
                } else if (user_status_params === 'blocked') {
                    $('#user_status_blocked').attr('checked', true);
                }
            }
        }

        let mainQueryParams = new URLSearchParams();

        let page = getParameter['page']
        if (page) {
            mainQueryParams.set("page", page);
        }
        let search_user = getParameter['search_user']
        if (search_user) {
            mainQueryParams.set("search_user", search_user);
        }

        if (user_status_params) {
            if (typeof (user_status_params) !== "string") {
                for (let i = 0; i < user_status_params.length; i++) {
                    mainQueryParams.append("user_status[]", user_status_params[i]);
                }
            } else {
                mainQueryParams.set("user_status[]", user_status_params);
            }
        }

        let page_number_links = $('.page_number_link');
        if(page_number_links.length) {
            for (let i=0; i<page_number_links.length; i++) {
                let queryParams = mainQueryParams
                queryParams.set("page", $(page_number_links[i]).attr('href'));
                let next_url = location.protocol + '//' + location.host + location.pathname + "?" + queryParams.toString()
                $(page_number_links[i]).attr('href', next_url);
            }
        }


    })

</script>
{% endblock %}




